
<!DOCTYPE html>
<html>
<head>
	<title></title>
  <link rel="stylesheet" type="text/css" href="/static/css/registertalent.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	
	
<div class="hero">
  <div class="form-box" >
   
     <div class="form-container">
       <form method="POST" enctype="multipart/form-data" id="talentform" data-cities-url="{% url 'ajax_load_cities' %}">
        {% csrf_token %}
        <div class="input-name">
          <i class="fa fa-user lock"></i>
          {{ u_form.first_name }}
          <span>
            <i class="fa fa-user lock"></i>
            {{ u_form.last_name }}
          </span>
        </div>
        <div class="input-name">
          <i class="fa fa-user lock"></i>
          {{ u_form.username }}
        </div>
        <div class="input-name">
          <i class="fa fa-envelope email"></i>
          {{ u_form.email }}
        </div>
        <div class="input-name">
          <i class="fa fa-lock lock"></i>
          {{ u_form.password1}}
        </div>
      
        <div class="input-name">
          <i class="fa fa-lock lock"></i>
          {{ u_form.password2}}
        </div>
        <div class="input-name">
        {{ u_form.province}}
      </div>
      <div class="input-name">
        {{ u_form.district}}
      </div>
      <div class="input-name">
        {{ u_form.sector}}
      </div>
      <div class="input-name">
        {{ t_form.profile_picture }}
      </div>
       <div class="input-name">
        {{ t_form.category }}
      </div>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Register</button>
      </div>
        </form>
     </div>
   
  </div>
  
</div>
	

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script type="text/javascript">
	$("#id_username").change(function () {
      var username = $(this).val();

      $.ajax({
        url: '/ajax/validate_username/',
        method:"POST",
        data: {
          'username': username
        },
        
        success: function (data) {
          if (data.is_taken) {
            alert("A user with this username already exists.");
          }
        }
      });

    });
  var form_fields=document.getElementsByTagName('input')
  form_fields[1].placeholder='First Name'
  form_fields[2].placeholder='Last Name'
  form_fields[3].placeholder='Username'
  var i;
  form_fields[1].classList.add('name');
  form_fields[2].classList.add('name');
  form_fields[3].classList.add('text_name')
  form_fields[4].classList.add('text_name')
  form_fields[5].classList.add('text_name')
  form_fields[6].classList.add('text_name')
  var select_fields=document.getElementsByTagName('select')
  
  
  for(i=0;i<select_fields.length;i++){
    select_fields[i].classList.add("prodiv")
    
  }
  $('#id_province').change(function(){
    const url=$('#talentform').attr('data-cities-url')
    const province_id=$(this).val()
    $.ajax({
      url:url,
      data:{
        'province_id':province_id
      },
      success: function(data){
        $('#id_district').html(data)
      }
    })


  })
  $('#id_district').change(function(){
    const url2='/ajax/load-districts/'
    const district_id=$(this).val()
    $.ajax({
      url:url2,
      data:{
        'district_id':district_id
      },
      success:function(data){
        $('#id_sector').html(data)
      }
    })
  })
</script>
</body>
</html>